<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>

    {%load static%}
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}"/>
</head>
<body>
    <div class="login">
        <form action="" method="post"  enctype="multipart/form-data">
           <div class="forms">
                {% csrf_token %}
                {{uf.as_p}}
           </div>
            <div class="btn">
                <div>
                    <a href="#">忘记密码?</a>
                    <a href="register">注册</a>
                    <button type ='submit'>登录</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>